{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1> Crear Libro </h1>
    <form method="POST" action="{% url 'crearLibro' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input
                type="text"
                class="form-control"
                name="titulo"
                id="titulo"
                aria-describedby="helpId"
                placeholder="titulo"
                required
            />
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label"></label>
            <textarea 
                class="form-control"
                name="descripcion" 
                id="descripcion" 
                rows="3"
                required>
            </textarea>
        </div>
        
        <div class="md-3">
            <label form="autor">Autores</label>
            <select class="form-select" name="autor" id="autor" required>

                <option value="" disabled selected>Seleccionar autor</option/>
                    {% for autor in autores  %}
                    <option value="{{ autor.id }}"> {{ autor.nombre }} </option>
                    {% endfor %}
            </select>
        </div>
        <div class=mb-3>
            <input type="submit" class="btn btn-success" value="Guardar">
        </div>
        
    </form>
</div>
{% endblock content %}